.container-fluid > header {
  background-color: #1C1C1C;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  font-size: 17px;
  z-index: 1;
  height: 32px;
  line-height: 32px; }

/* account - section */
.account {
  padding: 5px 8px 10px; }
  .account > label {
    font-size: 17.6px; }
  .account > label[for="register"] {
    font-size: 20px;
    margin-bottom: 10px; }
  .account .form-group {
    margin-bottom: 10px; }
  .account .input-group {
    border: 1px solid #CCCCCC;
    margin-bottom: 5px; }
    .account .input-group > input:first-child {
      border-bottom: 1px solid #CCCCCC; }
  .account .account-btn {
    height: 40px !important;
    line-height: 0 !important;
    border-radius: 0;
    width: 100%;
    font-size: 16px; }
  .account .account-link {
    margin-left: 10px;
    font-size: 19px;
    background-color: #CCCCCC;
    padding: 2px 0px;
    left: -2px;
    right: 9px;
    text-align: center; }
  .account .forgot-choose span:first-child {
    width: 20px;
    margin-left: 10px;
    display: inline-block !important; }
    .account .forgot-choose span:first-child > input {
      height: 20px;
      display: inherit !important; }
  .account .forgot-choose span:last-child {
    margin-left: 15px;
    margin: 3px 10px; }
  .account .account-gender {
    font-size: 16px;
    padding: 0px;
    margin-right: 10px; }
    .account .account-gender > input {
      padding: 0px;
      margin: 0px 3px; }
    .account .account-gender > span {
      cursor: pointer; }
  .account .register .error {
    margin-top: -6px;
    font-size: 15px; }
  .account .register div[for="message"] {
    margin: 7px 0px; }
  .account .register input[type=text] {
    border: 1px solid #CCCCCC; }
  .account .register > div:nth-child(1) input[name="fname"] {
    margin-bottom: 15px; }
  .account .register > div:nth-child(3) {
    margin-top: 12px; }
    .account .register > div:nth-child(3) > select {
      margin-left: 21.5px;
      height: 28px;
      width: 80px;
      outline: none; }
  .account .register > .form-group input {
    margin-bottom: 10px; }
  .account .register select {
    border: 1px solid #CCCCCC;
    height: 30px;
    width: 70px; }
  .account .register select[name="day"] {
    margin-right: -3.313px; }
  .account .register select[name="year"] {
    margin-left: -4.2969px; }
  .account .register select[name="lang"] {
    margin-left: 10px;
    min-width: 100px; }
  .account .register .birthday > div {
    margin-left: 15px;
    height: 27px; }
    .account .register .birthday > div:first-child {
      margin-left: 0; }
    .account .register .birthday > div:last-child {
      margin-top: 5px;
      margin-left: 0; }
    .account .register .birthday > div:not(:last-child) {
      display: inline-block;
      line-height: 2;
      height: 32px; }
    .account .register .birthday > div span {
      width: 30%;
      margin: 0px 2px; }
      .account .register .birthday > div span > input {
        height: 28px;
        text-align: center;
        font-size: 17px;
        line-height: 1.3;
        padding: 0; }
        .account .register .birthday > div span > input::-webkit-input-placeholder {
          font-size: 16px;
          line-height: 1.399; }
        .account .register .birthday > div span > input:-moz-placeholder {
          /* Firefox 18- */
          font-size: 16px;
          line-height: 1.399; }
        .account .register .birthday > div span > input::-moz-placeholder {
          /* Firefox 19+ */
          font-size: 16px;
          line-height: 1.399; }
        .account .register .birthday > div span > input:-ms-input-placeholder {
          font-size: 16px;
          line-height: 1.399; }
      .account .register .birthday > div span:nth-child(1) > input {
        width: 53px; }
      .account .register .birthday > div span:nth-child(3) > > input {
        width: 64px; }
      .account .register .birthday > div span:nth-child(5) > input {
        width: 67px; }
