/* #form-comment */
.form-comment > .clearfix:last-child > div > button, .form-comment > .clearfix:last-child > .form-text > button {
  width: 32px;
  height: 32px;
  font-size: 20px;
  border: 0;
  outline: 0;
  line-height: 1.8;
  background-color: inherit;
  font-weight: bolder;
  padding: 0;
  margin-left: 0; }

.form-comment {
  padding: 4px 0px;
  height: 44px;
  line-height: 0;
  border-top: 1px solid #DDDDDD;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }
  .form-comment > .absolute:first-child {
    position: absolute;
    bottom: 44px;
    left: 0;
    right: 0;
    min-height: 75px;
    background-color: #ffffff;
    border-top: 1px solid #CCCCCC;
    padding: 6px; }
    .form-comment > .absolute:first-child > .clearfix > .pull-left:first-child {
      max-width: 80px;
      max-height: 80px; }
    .form-comment > .absolute:first-child > .clearfix > .pull-left:last-child {
      margin-left: 20px;
      height: 57px;
      padding-top: 12px; }
      .form-comment > .absolute:first-child > .clearfix > .pull-left:last-child > button {
        height: 25px; }
  .form-comment > .clearfix:last-child > div > button {
    color: #8c8a8a; }
  .form-comment > .clearfix:last-child > .form-submit {
    width: 32px;
    height: 32px; }
    .form-comment > .clearfix:last-child > .form-submit > button {
      font-size: 23px;
      line-height: 1.23; }
  .form-comment > .clearfix:last-child > .form-text {
    margin-left: 0px;
    width: 80%;
    height: 34px;
    border-radius: 7px;
    border: 1px solid #cdcdcd;
    margin-bottom: 0; }
    .form-comment > .clearfix:last-child > .form-text > .input-text {
      border: 0;
      line-height: 1.6;
      width: 88% !important;
      display: inline-block;
      border-radius: 8px; }
    .form-comment > .clearfix:last-child > .form-text > button {
      top: 8px;
      right: 10px; }
  .form-comment > .clearfix:last-child > .form-upload {
    width: 32px;
    height: 32px;
    line-height: 2.5;
    text-align: center; }

.list-comment {
  margin: 6px;
  overflow-y: auto;
  height: 77%; }
  .list-comment > .comment {
    padding: 5px 0px; }
    .list-comment > .comment:not(:first-child) {
      border-top: 1px solid #EEEEEE; }
    .list-comment > .comment .comment-avatar {
      width: 32px;
      margin-right: 6px;
      margin-top: 3px; }
    .list-comment > .comment .comment-main {
      max-width: 86%;
      min-width: 86%; }
      .list-comment > .comment .comment-main > .clearfix:nth-child(2) {
        margin-top: 6px; }
      .list-comment > .comment .comment-main .comment-content > .post-text {
        margin: 1px 0px;
        font-size: 14.5px;
        word-break: break-word; }
      .list-comment > .comment .comment-main .comment-content > .comment-media {
        margin-top: 4px; }
        .list-comment > .comment .comment-main .comment-content > .comment-media > * {
          max-height: 180px !important;
          max-width: 180px !important; }
      .list-comment > .comment .comment-main .comment-link {
        font-size: 12.5px;
        max-height: 19px; }
        .list-comment > .comment .comment-main .comment-link:last-child {
          margin-right: 0; }
          .list-comment > .comment .comment-main .comment-link:last-child > span {
            display: none; }
      .list-comment > .comment .comment-main .comment-vote > a {
        font-weight: 600; }
      .list-comment > .comment .comment-main .comment-vote > a[class=""] {
        font-weight: normal; }

.reply > .list-comment > .comment .comment-main {
  min-width: 84.95%; }

.reply > .form-comment {
  margin-top: 8px; }
  .reply > .form-comment > .clearfix:last-child > .form-upload {
    width: 30px;
    height: 28px;
    line-height: 2.1; }
  .reply > .form-comment > .clearfix:last-child > .form-text {
    height: 30px;
    width: 76%; }
    .reply > .form-comment > .clearfix:last-child > .form-text > .input-text {
      width: 74%;
      height: 28px;
      line-height: 1.3; }
    .reply > .form-comment > .clearfix:last-child > .form-text > button {
      top: 6px; }
  .reply > .form-comment > .clearfix:last-child > .form-submit {
    height: 28px; }

.dot {
  position: relative;
  margin: 0px 10px;
  max-height: 19px; }
  .dot:after {
    position: absolute;
    top: 5.5px;
    left: 0;
    content: "";
    width: 2px;
    height: 2px;
    display: block;
    background-color: #d6d0d0; }

*::-webkit-scrollbar {
  display: none !important; }

/* the new scrollbar will have a flat appearance with the set background color */
::-webkit-scrollbar-track {
  background-color: #b46868; }

/* this will style the thumb, ignoring the track */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2); }

/* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
::-webkit-scrollbar-button {
  background-color: #7c2929; }

/* if both the vertical and the horizontal bars */
::-webkit-scrollbar-corner {
  background-color: black; }
