.video-control > .box {
  height: 42px;
  background-color: #f7f7f7;
  border: 1px solid #CCC;
  border-top-color: #DEDEDE;
  width: 100%; }
  .video-control > .box > .control {
    margin-top: 7px; }
    .video-control > .box > .control > .pull-left {
      height: 22px; }

.video-control > .video {
  margin-bottom: -6.6px; }

.btn-control {
  border: none;
  background-color: inherit;
  font-size: larger; }

.progress > .child {
  height: 3px;
  display: block;
  background-color: #367ae0; }

.timeline > .progress {
  height: 5px;
  width: 100%;
  background-color: #f1f1f1; }

.video-volume > .progress {
  height: 4px;
  width: 70px;
  margin: auto !important;
  cursor: pointer; }

.video-volume > .progress > .child {
  position: relative; }

.video-volume > .progress > .child:after {
  position: absolute;
  content: "";
  top: -3.515624879px;
  left: 91%;
  bottom: 0;
  right: 0;
  width: 9px;
  height: 9px;
  background-color: #367ae0;
  border-radius: 50%; }

.video-volume {
  padding: 9px 0px 4px;
  margin: 0px 3px; }

.video-time {
  margin-left: 5px;
  font-size: 97%;
  color: #4c4b4b; }

.video-fullscreen {
  height: 100%;
  margin: auto !important;
  background-color: black; }

.video-fullscreen > .video, .video-fullscreen > .video > video {
  height: 100%; }

.video-fullscreen > .box {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0; }

/* .audio-info */
.audio-info {
  border: 1px solid #CCC;
  border-bottom: 0;
  padding: 5px 2px; }

.audio-info input[type="text"] {
  border: 0; }

.audio-info > .pull-left > .audio-user > span:first-child {
  font-size: 70%;
  margin-right: 5px; }

.audio-info > .pull-left > .audio-user > span:last-child {
  font-size: 85%;
  font-weight: 500; }

.audio-info > .pull-left > .audio-user {
  margin-bottom: -2px;
  padding: 0px 5px; }

.audio-info > .pull-left > .audio-name {
  font-weight: bold; }

/* .image-upload-item */
.image-upload-item {
  display: block; }

.image-upload-item-hover {
  width: 100%;
  height: 100%;
  display: block !important; }

.image-select-group {
  background-color: #FFFFFF;
  border: 1px solid #DEDEDE;
  visibility: hidden;
  padding: 5px 0px; }

.image-select-item {
  padding: 0px 6px 0px 6px;
  font-weight: 600;
  font-size: 90%;
  color: #4c4c4c; }

.image-select-item:last-child {
  border-left: 1px solid #DEDEDE; }

/* .image-select-action */
.image-select-action {
  display: none; }

/* edit photo */
#edit_photo {
  margin-top: 10px; }

#edit_photo > div:last-child {
  margin: auto;
  width: 100%; }

#edit_photo_frame {
  width: 100%;
  height: 100%;
  top: 0;
  border-bottom: 1px dashed #b5b3b3;
  position: relative; }

.resize {
  position: absolute;
  font-size: 20px;
  width: 13px;
  height: 13px; }

.resize-top.resize-right, .resize-bottom.resize-left {
  cursor: nesw-resize; }

.resize-top.resize-left, .resize-bottom.resize-right {
  cursor: nwse-resize; }

.resize-left {
  left: -6px; }

.resize-top {
  top: -13px; }

.resize-bottom {
  bottom: 0; }

.resize-right {
  right: -5px; }

.resize-top-left {
  left: -6px; }

#edit_photo_frame > div {
  width: 100%;
  height: 33.33333333333%;
  border: 1px dashed #b5b3b3;
  border-right: 0;
  border-bottom: 0; }

#edit_photo_frame > div > span {
  display: inline-block;
  width: 33.3333333333333%;
  height: 100%;
  border-right: 1px dashed #b5b3b3; }
